img {
  width: 30vw;
  padding: 1vw;
}

.card {
  width: fit-content;
  border: solid rgb(172, 172, 172) 1px;
  border-radius: 10px;
  background-color: azure;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardTitle {
  text-align: center;
  padding-bottom: 2px;
}
